.App {
  text-align: center;
}
.header{
  background-color:#373737;
  color: white;
  margin-top: 0;
  padding: 5px;
}
.compa{
  background-color: green;
  padding: 5px;
 
}
.compb{
  background-color: orange;
  padding: 5px;
  margin: 10px;
}
.compc{
  background-color: cyan;
  padding: 5px;
  margin: 10px;
}
.compd{
  background-color:yellow;
  padding: 5px;
  margin: 10px;
}
.compe{
  background-color: red;
  padding: 5px;
  margin: 10px;
}
.compz{
  background-color: blue;
  padding: 5px;
  margin: 10px;
}